
/*bordered form*/
form {
    border: 2px solid #f1f1f1;

}

/*full width inputs*/
input[type=text], input[type=password], input[type=email], input[type=tel], input[type=date] {
    padding: 15px ;
    display: inline-block;
    box-sizing: border-box;
    background: #f1f1f1;
    border: 1px solid #108659;

}


hr {
     border: 5px solid #108659;
}


/*set a style for sign in button*/
button {
    background-color: #108659;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    min-height: 20%;
    color:white;

}
/* Add a hover effect for buttons */
button:hover {
    opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}
.reset{
    width: auto;
    color:white;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 20%;
    border-radius: 50%;
}

/* Add padding to containers */
.container {
    text-align: center;
    padding: 10px;
}

/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
