.body{
	background-color: white;
	margin: 0;
	font-family: "Work Sans",Arial, Helvetica, sans-serif;
}

.front {
	text-align:center;
	color:darkslateblue;
}

/* style for top navigation editing*/
.topnavk {
	overflow: hidden;
	background-color: steelblue;
	box-shadow:1px 1px 1px 1px #888888;
}
.topnavk a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-size: 13px;
  "Work Sans",Arial, Helvetica, sans-serif;
}

.topnavk a:hover {
  background-color: #2e3d3d;
  color: white;
}


/* Hide the link that should open and close the topnav on small screens */
.topnavk .icon {
    display: none;
}
/* header class for account links*/
.header{
	background-color: white;
	padding: 10px;
}

/* code for account buttons*/
.account{
	background-color: white;
	border-right: 2px solid steelblue;
	color: black;
	font-size: 15px;
	padding: 7px 10px;
	margin: 4px 2px;
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
	font-size: 1em;
	transition-duration: 0.4s;
}
.account:hover{
	background-color: steelblue;
	color: gold;
}

.text {background-color:#333333;
 color:white;
 padding:7px;
}

.main {
    width: 100%;
    float: right;
    padding: 15px;
    border: 1px solid white;
}

footer{
background-color:#2e3d3d;
padding:30px;
padding-top: 2px;
color:white;
font-size: 0.8em;
text-justify:justify;
text-align: left;
-webkit-column-count:3; /*chrome, safari, opera */
-moz-column-count:3; /*Mozilla firefox*/
column-count:3;
-webkit-column-gap:50px; /*chrome, safari , opera */
-moz-column-gap:50px; /*Mozilla firefox*/
column-gap:50px;
-webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
-moz-column-rule-style: solid; /* Firefox */
column-rule-style: solid;
-webkit-column-rule-width: 1px; /* Chrome, Safari, Opera */
-moz-column-rule-width: 1px; /* Firefox */
column-rule-width: 1px;
-webkit-column-width: 100%; /* Chrome, Safari, Opera */
-moz-column-width: 100%; /* Firefox */
column-width: 100%;
}

/* style for footer head*/
h6.quick {
  -webkit-column-span:all; /*Chrome,Safari,Opera*/
  column-span:all;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: gold;
}


div.sticky {
  position: sticky;
  top:0;
}

/*Style for images*/
img {
    max-width: 100%;
    height: auto;
}

img.back {
  width: 1350px;
  height: 500px;
  display: block;
  border-color: transparent;
  object-fit:cover;
}

.backtext {
  position: relative;
  text-align: center;
  color: white;
}

.text1 {
  background-color: rgba(0,0,0,0.7);
  padding: 50px;
  font-size: 37px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
  transform: translate(-50%,-50%);
}

@media screen and (min-width: 601px) {
  /*resize if screen is 600px or more*/
  .text1 {
   font-size: 20px;
  }
}

@media screen and (min-width: 800px) {
  /*resize if  screen is 800px or more*/
  .text1 {
   font-size: 25px;
  }
}

@media screen and (max-width: 600px) {
  /*resize if screen is 600px or less*/
  .text1 {
   font-size: 15px;
   padding: 10px;
  }
}

/* Device responsiveness style */
* {
    box-sizing:border-box;
}


@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 100%;}
    .col-m-2 {width: 100%;}

}
@media only screen and (min-width: 600px) {
    /* For desktop: */
.col-1 {width: 100%;}
.col-2 {width: 100%;}
}
@media screen and (max-width: 600px) {
   .topnavk a {
        text-align: left;
        float: none;
    }
}

/*Responsive top navigation*/
@media screen and (max-width: 600px) {
  .topnavk a:not(:first-child) {display: none;}
  .topnavk a.icon {
    float: right;
    display: block;
    color:white;
  }
}

@media screen and (max-width: 600px) {
  .topnavk.responsive {position: relative;}
  .topnavk.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnavk.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

.center {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width:20%;
    min-width: 20%;

}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/*online Chat*/

div.fixed {
  position: fixed;
  bottom: 50px;
  right: 0;
  border-radius: 20px;
  color: gold;
  border: 2px solid steelblue;
  background-color: steelblue;
  border-radius: 50px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 1px;
  margin-right: 10px;
  box-shadow:2px 2px  gold;
}

#chat:active {
  box-shadow: 0 5px #666;
  transform: translateY(7px);
}



/* Conatiner <div> for positioning dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown content hidden by default*/
.dropdown-content {
  display: none;
  position: absolute;
  background-color: lavender;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/*textarea inside the dropdown*/
.dropdown-content textarea {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    margin-right: 150px;
}
/*textarea when hovered*/
.dropdown-content textarea:hover {background-color: lavender}

/*Show the dropdown menu on hover*/
.dropdown:hover .dropdown-content {
    display: block;
    margin-bottom: 75px;
}

#chatcon{
  display: none;
  padding: 10px;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 70px;
}

textarea {
  resize:none;
  height: 300px;
  width: 200px;
  background-color: whitesmoke;
  padding: 10px;
  border: 3px solid steelblue;
  border-radius: 20px;
}

button.chat{
    background-color: steelblue;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    min-height: 20%;
    color:gold;
}

@media screen and (max-width: 600px) {
  /*resize if screen is 600px or less*/
  textarea {
   height: 200px;
   width: 150px;
  }
}

/*Merchant and customer polaroid image link*/
div.polaroid {
	border radius: 50px;
	max-width: 30%;
	background-color: white;
	margin: auto;
	padding: 15px;
}

div.container2 {
	text-align: center;
	color: #2e3d3d;
	padding: 5px;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column1 {
	float:left;
	width: 50%;
	padding: 5px;
}
/* Clear floats after image containers */
.row ::after {
	content: "";
	clear: both;
	display: table;
}

.bgmc {
	background-color: lightsteelblue;
	padding: 30px;
}

/* Row and column for products page*/
.column2 {
	float:left;
	width: 50%;
	padding: 5px;
}
/* Clear floats after image containers */
.row2 ::after {
	content: "";
	clear: both;
	display: table;
}

/*Css for user dashboard*/
* {
	box-sizing: border-box;
}

/* Create two unequal columns that float next to each other*/
.columnds {
	float: left;
	padding: 10px;
}
/*For left column*/
.columnds.left {
	width: 25%;
}
/*For right column*/
.columnds.right {
	width: 75%;
}
/*Clears float after column*/
.rowds::after {
	content: "";
	display: table;
	clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
	.columnds.left, .columnds.right {
		width: 100%;
	}
}
/*Left dashboard link styling*/
ul.dash {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    height: 100%;
    overflow: hidden;
    float: left;
    border: 1px solid black;
}

li.dash a {
    display: block;
    color: #000;
    padding: 12px 20px;
    border-bottom: 1px solid gold;
    text-align: left;
}

li.dash a.active {
    background-color: steelblue;
    color: white;
}

li.dash a:hover:not(.active) {
    background-color: #2e3d3d;
    color: white;
}

/*ICONS*/
.icon {
	position: relative;
	top: 5px;
	bottom: 5px;
}

hr.dasha {
	border-color: steelblue;
}

hr.dashap {
	border-color: mediumseagreen;
}

/*bank dash*/
.bkdash {
	display: block;
     text-align: center;
	font-size: 20px;
}

.bkinput {
	display: block;
     margin-right: auto;
     margin-left: auto;
	border: 1px solid mediumseagreen;
	background: #f1f1f1;
}

#buttonds {
	background-color: #108659;
     padding: 10px 5px;
	display: block;
     margin-right: auto;
     margin-left: auto;
     border: none;
     cursor: pointer;
     width: 30%;
     min-height: 20%;
     color:white;
	border-radius: 1px;
}
